.env
resources/

# Python
.python-version
.ipynb_checkpoints
__pycache__
.idea

# javascript
frontend/public/audio/*
frontend/public/tiles/*
frontend/public/images/*
frontend/node_modules/*
frontend/build/*
